<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164338928-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164338928-3');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag._settings.MetaDescription" />
    <title>@ViewBag.Title - @ViewBag.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/sitecss")
    @Styles.Render("~/bundles/fontawesome")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img style="width:50px;height:auto;" src="~/imgs/logo.png" />@ViewBag.AppName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @foreach (var cat in ViewBag.Categories)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Products?cat=@cat.CategoryId">@cat.Description</a>
                    </li>
                }
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <div class="nav-link dropdown show ">
                            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Admin/Products">Gestisci prodotti</a>
                                <a class="dropdown-item" href="/Admin/Orders">Gestisci ordini</a>
                                <a class="dropdown-item" href="/Admin/Categories">Gestisci categorie</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="footer bg-dark text-light">
        <p>&copy; @DateTime.Now.Year - @ViewBag.AppName - @ViewBag.FooterDescription</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        /* Edit product -->
        */
                                //function img_onclick() {
                                //$('#file-input').click();
                                //}
        /* Edit product <-- */
    </script>
</body>
</html>
