<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Products?cat=1">Panini</a>
                </li>
                <li>
                    <a class="nav-link" href="/Products?cat=2">Caffetteria</a>
                </li>
                <li>
                    <a class="nav-link" href="/Products?cat=3">Bibite</a>
                </li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-link" href="/Admin">
                            Admin @if (ViewBag.Title == "Admin")
                            {<span class="sr-only">(current)</span>}
                        </a>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - MealOrder</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        /* Edit product -->
        */
                    //function img_onclick() {
                    //$('#file-input').click();
                    //}
        /* Edit product <-- */
    </script>
</body>
</html>
