
@{
    ViewBag.Title = "Checkout";
}

<h2>@ViewBag.Title</h2>

<form class="form" method="post" enctype="multipart/form-data" id="cart_form">
    <div class="row container mx-auto">
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Prezzo</th>
                    </tr>
                </thead>
                @{
                    var totale = 0.0;
                }
                <tbody>
                    @foreach (BillMealMVC.Models.CartRows row in Model.Items)
                    {
                        <tr>
                            <td><img class="cart-thumbnail" src="~/imgs/@(row.ItemId).jpg" />@row.ItemName</td>
                            <td><input class="form-control" style="width:100px;" value="@row.Quantity" type="number" name="Quantity" onchange="cart_reload(@(row.CartRowId),this)" /></td>
                            <td>@Utils.FormatPrice(row.ItemPrice)</td>
                        </tr>
                        totale += (row.ItemPrice*row.Quantity);
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th>Totale: @Utils.FormatPrice(totale)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-6">
            <div class="mx-auto col-md-10">
                <div class="form-group " style="width:7em;">
                    <label for="deliverytime" class="success">Ora di consegna</label>
                    <select name="deliverytime" id="deliverytime" class="form-control">
                        @foreach (string[] del in ViewBag.Deliveries)
                        {
                            <option value="@del[0]">@del[1]</option>
                        }

                    </select>
                </div>
                <div class="form-group ">
                    <label for="email" class="success">E-mail</label>
                    <input type="email" name="email" id="email" class="form-control" style="width:100%;" />
                </div>
                <div class="form-group ">
                    <label for="phone" class="success">Numero di telefono</label>
                    <input type="number" name="Phone" id="Phone" class="form-control" style="width:100%;" />
                </div>
                <div class="form-group ">
                    <label for="Notes" class="success">Inserisci note aggiuntive all'ordine (es. ingredienti +/-)</label>
                    <textarea rows="3" name="Notes" id="Notes" class="form-control" style="width:100%;"></textarea>
                </div>
                <button type="submit" class="btn btn-success float-right mx-1">Invia ordine</button>
            </div>
        </div>
    </div>
</form>
